Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2020-09, with the labels that each got.

#421 publish the cl_khr_device_uuid extension spec
  OpenCL_Ext.txt
  ext/cl_khr_device_uuid.asciidoc
  ext/quick_reference.asciidoc
Labels: OpenCL Extension Spec

#427 clarify the host_ptr usage for images with USE_HOST_PTR
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#430 Correct `atomic_flag_test_and_set_explicit` `__local` Overload
  OpenCL_C.txt
Labels: OpenCL C Spec

#428 add event command types for extension APIs
  api/opencl_runtime_layer.asciidoc
  ext/cl_khr_d3d10_sharing.asciidoc
  ext/cl_khr_d3d11_sharing.asciidoc
  ext/cl_khr_dx9_media_sharing.asciidoc
  ext/cl_khr_egl_image.asciidoc
  ext/cl_khr_gl_sharing__memobjs.asciidoc
  scripts/gen_dictionaries.py
Labels: OpenCL Extension Spec

#418 use CL_INVALID_OPERATION as the error code for unsupported features
  api/appendix_h.asciidoc
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#442 fix two issues with the asciidoctor attributes
  api/opencl_runtime_layer.asciidoc
  xml/cl.xml
Labels: OpenCL API Spec

#433 switch all OpenCL API and OpenCL C spec footnotes to asciidoctor syntax
  OpenCL_API.txt
  OpenCL_C.txt
  api/appendix_a.asciidoc
  api/appendix_b.asciidoc
  api/embedded_profile.asciidoc
  api/footnotes.asciidoc
  api/opencl_architecture.asciidoc
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
  c/footnotes.asciidoc
  scripts/clconventions.py
Labels: OpenCL API Spec, OpenCL C Spec

#434 Clarify Required Atomic Capability Nesting
  api/footnotes.asciidoc
  api/opencl_platform_layer.asciidoc
Labels: OpenCL API Spec

#444 add a TYPE suffix to all asciidoctor type attributes
  api/appendix_a.asciidoc
  api/appendix_c.asciidoc
  api/appendix_e.asciidoc
  api/embedded_profile.asciidoc
  api/footnotes.asciidoc
  api/opencl_architecture.asciidoc
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
  scripts/gen_dictionaries.py
Labels: OpenCL API Spec

#447 add CL_KERNEL_COMPILE_NUM_SUB_GROUPS to Appendix H
  api/appendix_h.asciidoc
Labels: OpenCL API Spec

#453 Unify the OpenCL C spec
  OpenCL_C.txt
  api/appendix_e.asciidoc
  c/footnotes.asciidoc
  man/toctail
Labels: OpenCL C Spec

#467 Address review feedback from Unifying OpenCL C specification
  OpenCL_C.txt
Labels: OpenCL C Spec
