Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2020-08, with the labels that each got.

#398 clarify the values returned by properties queries
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#395 unify the descriptions for event for all enqueue APIs
  api/opencl_runtime_layer.asciidoc
  ext/cl_khr_d3d10_sharing.asciidoc
  ext/cl_khr_d3d11_sharing.asciidoc
  ext/cl_khr_dx9_media_sharing.asciidoc
  ext/cl_khr_egl_image.asciidoc
  ext/cl_khr_gl_sharing__memobjs.asciidoc
  man/static/clEnqueueReleaseD3D10ObjectsKHR.txt
  man/static/clEnqueueReleaseD3D11ObjectsKHR.txt
  man/static/clEnqueueReleaseDX9MediaSurfacesKHR.txt
Labels: OpenCL API Spec, OpenCL Extension Spec

#394 add a separate table for event command types
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#414 subbuffers created with clCreateSubBuffer must have no properties
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec, needs-cts-coverage

#387 [OpenCL C 3.0] Extended description of optional functionality (#330).
  OpenCL_C.txt
Labels: OpenCL C Spec

#383 Use consistent naming for the OpenCL SPIR-V Environment Specification
  OpenCL_C.txt
  README.adoc
  api/embedded_profile.asciidoc
  ext/cl_khr_fp16.asciidoc
  ext/cl_khr_fp64.asciidoc
Labels: SPIR-V Environment Spec
