Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2020-07, with the labels that each got.

#337 clarify spec constant behavior for non-SPIR-V intermediate langauges
  api/opencl_runtime_layer.asciidoc
Labels: API Spec

#351 deprecate APIs and queries for program init and cleanup kernels
  api/appendix_e.asciidoc
  api/appendix_h.asciidoc
  xml/cl.xml
Labels: API Spec

#365 clarify when subgroup device enqueue functions are supported
  OpenCL_C.txt
Labels: OpenCL C Spec

#358 Allow C11 Atomics to Be Used Without Generic Address Space
  OpenCL_C.txt
Labels: OpenCL 3 Must Fix

#364 OpenCL C features macros must expand to 1 in OpenCL C 3.0
  OpenCL_C.txt
Labels: OpenCL C Spec

#356 clarify program scope global variable constructor and destructor behavior
  api/opencl_runtime_layer.asciidoc
Labels: API Spec

#368 Clarify strictness of legacy atomics
  OpenCL_C.txt
Labels: OpenCL C Spec

#372 Add three feature macros for features that were already optional
  OpenCL_C.txt
  api/appendix_h.asciidoc
Labels: OpenCL 3 Must Fix, OpenCL C Spec

#367 clarify there is no mixed signedness for atomic intptr_t overloads
  OpenCL_C.txt
Labels: OpenCL C Spec

#389 remove provisional paragraphs from API, C, and Environment specs
  OpenCL_C.txt
  api/introduction.asciidoc
  env/introduction.asciidoc
Labels: OpenCL API Spec, OpenCL C Spec, SPIR-V Environment Spec

#385 Reduce the verbosity of int64 and fp64 feature macros
  OpenCL_C.txt
Labels: OpenCL C Spec

#388 Delete some zero-width spaces added by mistake
  OpenCL_C.txt
Labels: OpenCL C Spec
