Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2020-12, with the labels that each got.

#497 clarify that a NULL origin or region is a CL_INVALID_VALUE
  api/opencl_runtime_layer.asciidoc
  xml/cl.xml
Labels: OpenCL API Spec

#517 [C++ for OpenCL] extended contributors list
  cxx4opencl/acknowledgements.txt
Labels: C++ for OpenCL

#502 [C++ for OpenCL] Allow NULL to be implementation defined macro.
  cxx4opencl/diff2openclc.txt
Labels: C++ for OpenCL

#509 [C++ for OpenCL] Lift restriction on reference members w local objects
  cxx4opencl/address_spaces.txt
Labels: C++ for OpenCL

#510 [C++ for OpenCL] define __opencl_cpp_global_destructors
  cxx4opencl/address_spaces.txt
Labels: C++ for OpenCL

#511 [C++ for OpenCL] Added references to execution and memory models
  cxx4opencl/intro.txt
Labels: C++ for OpenCL

#513 [C++ for OpenCL] Set version to 1.0.
  CXX_for_OpenCL.txt
Labels: C++ for OpenCL

#515 [OpenCL C] lift restriction on l-value vec literal
  OpenCL_C.txt
Labels: OpenCL C Spec

#512 [C++ for OpenCL] Added examples
  cxx4opencl/address_spaces.txt
Labels: C++ for OpenCL

#516 [C++ for OpenCL] Misc formattings/clarifications
  cxx4opencl/address_spaces.txt
Labels: C++ for OpenCL

#518 [C++ for OpenCL] Added references section.
  CXX_for_OpenCL.txt
  cxx4opencl/address_spaces.txt
  cxx4opencl/intro.txt
  cxx4opencl/references.txt
Labels: C++ for OpenCL

#508 Remove phrase about kernel argument pointer types
  OpenCL_C.txt
Labels: OpenCL C Spec

#477 Clarify usage of feature test macros for pre-OpenCL C 3.0
  OpenCL_C.txt
Labels: OpenCL C Spec

#405 Rewrite address space section.
  OpenCL_C.txt
Labels: OpenCL C Spec

#523 clarify relationship between optional core features and extensions
  OpenCL_C.txt
Labels: OpenCL C Spec

#525 clarify subgroup barrier behavior in non-uniform control flow
  env/validation_rules.asciidoc
Labels: SPIR-V Environment Spec

#527 add required alignment of types to the OpenCL SPIR-V Environment spec
  OpenCL_C.txt
  env/common_properties.asciidoc
Labels: SPIR-V Environment Spec

#522 clarify __OPENCL_VERSION__
  OpenCL_C.txt
  c/footnotes.asciidoc
Labels: OpenCL C Spec

#531 api spec editorial fixes
  api/embedded_profile.asciidoc
  api/footnotes.asciidoc
  api/opencl_architecture.asciidoc
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
  xml/cl.xml
Labels: OpenCL API Spec

#529 Extended Subgroups
  OpenCL_Ext.txt
  env/extensions.asciidoc
  ext/cl_khr_subgroup_extensions.asciidoc
  ext/quick_reference.asciidoc
Labels: OpenCL Extension Spec

#532 OpenCL C spec editorial fixes
  OpenCL_C.txt
  c/feature-dictionary.asciidoc
  scripts/clconventions.py
Labels: OpenCL C Spec
