Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2021-04, with the labels that each got.

#591 Removed CL_API_ENTRY from typedefs
  ext/introduction.asciidoc
  man/static/clGetExtensionFunctionAddressForPlatform.txt
Labels: OpenCL Extension Spec

#597 Unsafe math optimizations implies FTZ
  api/footnotes.asciidoc
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#599 cl_khr_spirv_extended_debug_info, cl_khr_spirv_linkonce_odr, cl_khr_pci_bus_info
  OpenCL_Ext.txt
  env/extensions.asciidoc
  ext/cl_khr_pci_bus_info.asciidoc
  ext/quick_reference.asciidoc
  ext/spirv_extensions.asciidoc
  xml/cl.xml
Labels: OpenCL Extension Spec

#598 Unify Fast Math ULP Tables
  OpenCL_C.txt
  env/numerical_compliance.asciidoc
Labels: OpenCL C Spec, SPIR-V Environment Spec

#603 [C++ for OpenCL] Added missing restriction on thread_local
  cxx4opencl/diff2cxx.txt
Labels: C++ for OpenCL
