Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2021-11, with the labels that each got.

#706 Explain the location of language doc in cl_ext_cxx_for_opencl.
  extensions/cl_ext_cxx_for_opencl.asciidoc
Labels: C++ for OpenCL

#691 cosmetic updates for the OpenCL specifications
  .travis.yml
  Makefile
  OpenCL_API.txt
  OpenCL_C.txt
  OpenCL_Env.txt
  OpenCL_Ext.txt
  OpenCL_ICD_Installation.txt
  README.adoc
  api/appendix_b.asciidoc
  api/appendix_c.asciidoc
  api/appendix_d.asciidoc
  api/opencl_architecture.asciidoc
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
  config/khronos.css
  config/rouge/lib/rouge/lexers/opencl.rb
  config/rouge/lib/rouge/lexers/opencl_c.rb
  config/rouge/lib/rouge/themes/opencl_spec.rb
  config/rouge_opencl.rb
  env/numerical_compliance.asciidoc
  ext/cl_khr_async_work_group_copy_fence.asciidoc
  ext/cl_khr_create_command_queue.asciidoc
  ext/cl_khr_d3d10_sharing.asciidoc
  ext/cl_khr_d3d11_sharing.asciidoc
  ext/cl_khr_device_enqueue_local_arg_types.asciidoc
  ext/cl_khr_device_uuid.asciidoc
  ext/cl_khr_dx9_media_sharing.asciidoc
  ext/cl_khr_egl_event.asciidoc
  ext/cl_khr_egl_image.asciidoc
  ext/cl_khr_extended_async_copies.asciidoc
  ext/cl_khr_extended_bit_ops.asciidoc
  ext/cl_khr_extended_versioning.asciidoc
  ext/cl_khr_fp16.asciidoc
  ext/cl_khr_fp64.asciidoc
  ext/cl_khr_gl_event.asciidoc
  ext/cl_khr_gl_msaa_sharing.asciidoc
  ext/cl_khr_gl_sharing__context.asciidoc
  ext/cl_khr_gl_sharing__memobjs.asciidoc
  ext/cl_khr_icd.asciidoc
  ext/cl_khr_il_program.asciidoc
  ext/cl_khr_integer_dot_product.asciidoc
  ext/cl_khr_mipmap_image.asciidoc
  ext/cl_khr_pci_bus_info.asciidoc
  ext/cl_khr_select_fprounding_mode.asciidoc
  ext/cl_khr_subgroup_extensions.asciidoc
  ext/cl_khr_subgroups.asciidoc
  ext/cl_khr_suggested_local_work_size.asciidoc
  ext/cl_khr_terminate_context.asciidoc
  ext/cl_loader_layers.asciidoc
  ext/introduction.asciidoc
  scripts/docgenerator.py
  scripts/gen_dictionaries.py
Labels: enhancement, OpenCL C Spec, SPIR-V Environment Spec, OpenCL API Spec, OpenCL Extension Spec

#705 Specify what state kernel objects are in after a failed call to clSetKernelArg
  api/footnotes.asciidoc
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec, needs-cts-coverage

#712 minor semaphore external sharing fixes
  OpenCL_Ext.txt
  api/footnotes.asciidoc
  ext/cl_khr_external_memory.asciidoc
  ext/cl_khr_external_semaphore.asciidoc
  ext/cl_khr_semaphore.asciidoc
  ext/quick_reference.asciidoc
  xml/cl.xml
Labels: OpenCL Extension Spec

#713 clarify memory_scope_all_devices is an alias for memory_scope_all_svm_devices
  api/glossary.asciidoc
  api/opencl_architecture.asciidoc
  man/static/enums.txt
Labels: OpenCL API Spec
