Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2021-03, with the labels that each got.

#574 clarify table structure for backwards compatible appendix
  api/appendix_h.asciidoc
Labels: OpenCL API Spec

#566 clarify the size of a pipe is implementation-defined
  OpenCL_C.txt
Labels: OpenCL C Spec

#560 Move descriptions of identity value for exclusive scan
  OpenCL_C.txt
  ext/cl_khr_subgroups.asciidoc
Labels: OpenCL C Spec

#544 fix several bugs and formatting in the fast math ulp tables
  OpenCL_C.txt
  env/numerical_compliance.asciidoc
Labels: OpenCL C Spec, SPIR-V Environment Spec

#526 add required type for SPIR-V built-in variables
  env/common_properties.asciidoc
Labels: SPIR-V Environment Spec

#582 [C++ for OpenCL] Improve description of restricted C++ features.
  cxx4opencl/diff2cxx.txt
Labels: C++ for OpenCL

#583 [C++ for OpenCL] Add section w/ kernel function restrictions.
  CXX_for_OpenCL.txt
  cxx4opencl/kernel.txt
Labels: C++ for OpenCL
