Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2022-09, with the labels that each got.

#819 cl_khr_command_buffer_mutable_dispatch
  OpenCL_Ext.txt
  ext/cl_khr_command_buffer.asciidoc
  ext/cl_khr_command_buffer_mutable_dispatch.asciidoc
  ext/quick_reference.asciidoc
  xml/cl.xml
Labels: OpenCL Extension Spec

#834 add definition of Valid Object to glossary
  api/glossary.asciidoc
Labels: OpenCL API Spec

#836 clarify device enqueue clk_event_t behavior
  OpenCL_C.txt
Labels: OpenCL C Spec

#835 limit the number of kernel arguments to 255
  api/embedded_profile.asciidoc
  api/opencl_platform_layer.asciidoc
Labels: OpenCL API Spec

#842 document implementation requirements for invalid object checking
  api/appendix_f.asciidoc
  api/glossary.asciidoc
Labels: OpenCL API Spec
