Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2023-04, with the labels that each got.

#899 Add command-buffer context query
  ext/cl_khr_command_buffer.asciidoc
  xml/cl.xml
Labels: OpenCL Extension Spec, needs-cts-coverage

#882 Update semaphore wait and signal rules in cl_khr_sempahore
  ext/cl_khr_semaphore.asciidoc
Labels: OpenCL Extension Spec

#879 clarify a clCreateBuffer with SVM pointer error condition
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec, needs-cts-coverage

#913 clarify that SVM is optional for all OpenCL 3.0 devices
  api/opencl_architecture.asciidoc
Labels: OpenCL API Spec
