Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2023-11, with the labels that each got.

#991 Use hexapdf instead of ghostscript for PDF optimization
  .travis.yml
  Makefile
  README.adoc
Labels: enhancement

#1016 clarify the free function for clEnqueueSVMFree must be thread-safe
  api/opencl_platform_layer.asciidoc
  api/opencl_runtime_layer.asciidoc
Labels: OpenCL API Spec

#1015 clarify async copies and wait group events must be convergent
  OpenCL_C.txt
Labels: OpenCL C Spec
