Repository KhronosGroup/OpenCL-Docs, pull requests merged in 2024-03, with the labels that each got.

#1081 Removing separate OpenCL Extensions from the repository
  OpenCL_Ext.txt
  ext/cl_khr_3d_image_writes.asciidoc
  ext/cl_khr_async_work_group_copy_fence.asciidoc
  ext/cl_khr_byte_addressable_store.asciidoc
  ext/cl_khr_command_buffer.asciidoc
  ext/cl_khr_command_buffer_multi_device.asciidoc
  ext/cl_khr_command_buffer_mutable_dispatch.asciidoc
  ext/cl_khr_create_command_queue.asciidoc
  ext/cl_khr_d3d10_sharing.asciidoc
  ext/cl_khr_d3d11_sharing.asciidoc
  ext/cl_khr_depth_images.asciidoc
  ext/cl_khr_device_enqueue_local_arg_types.asciidoc
  ext/cl_khr_device_uuid.asciidoc
  ext/cl_khr_dx9_media_sharing.asciidoc
  ext/cl_khr_egl_event.asciidoc
  ext/cl_khr_egl_image.asciidoc
  ext/cl_khr_expect_assume.asciidoc
  ext/cl_khr_extended_async_copies.asciidoc
  ext/cl_khr_extended_bit_ops.asciidoc
  ext/cl_khr_extended_versioning.asciidoc
  ext/cl_khr_external_memory.asciidoc
  ext/cl_khr_external_semaphore.asciidoc
  ext/cl_khr_fp16.asciidoc
  ext/cl_khr_fp64.asciidoc
  ext/cl_khr_gl_depth_images.asciidoc
  ext/cl_khr_gl_event.asciidoc
  ext/cl_khr_gl_msaa_sharing.asciidoc
  ext/cl_khr_gl_sharing__context.asciidoc
  ext/cl_khr_gl_sharing__memobjs.asciidoc
  ext/cl_khr_icd.asciidoc
  ext/cl_khr_il_program.asciidoc
  ext/cl_khr_image2d_from_buffer.asciidoc
  ext/cl_khr_initialize_memory.asciidoc
  ext/cl_khr_int32_atomics.asciidoc
  ext/cl_khr_int64_atomics.asciidoc
  ext/cl_khr_integer_dot_product.asciidoc
  ext/cl_khr_mipmap_image.asciidoc
  ext/cl_khr_pci_bus_info.asciidoc
  ext/cl_khr_priority_hints.asciidoc
  ext/cl_khr_select_fprounding_mode.asciidoc
  ext/cl_khr_semaphore.asciidoc
  ext/cl_khr_spir.asciidoc
  ext/cl_khr_srgb_image_writes.asciidoc
  ext/cl_khr_subgroup_extensions.asciidoc
  ext/cl_khr_subgroup_named_barrier.asciidoc
  ext/cl_khr_subgroup_rotate.asciidoc
  ext/cl_khr_subgroups.asciidoc
  ext/cl_khr_suggested_local_work_size.asciidoc
  ext/cl_khr_terminate_context.asciidoc
  ext/cl_khr_throttle_hints.asciidoc
  ext/cl_khr_work_group_uniform_arithmetic.asciidoc
  ext/introduction.asciidoc
  ext/quick_reference.asciidoc
Labels: enhancement, OpenCL Extension Spec

#1090 Reference layered extensions in command-buffer intro
  api/cl_khr_command_buffer.asciidoc
Labels: cl_khr_command_buffer

#1113 Fix provisional extension notes in appendices
  api/appendix_extensions.asciidoc
  api/cl_khr_command_buffer.asciidoc
  api/cl_khr_command_buffer_multi_device.asciidoc
  api/cl_khr_command_buffer_mutable_dispatch.asciidoc
  api/cl_khr_external_memory.asciidoc
  api/cl_khr_external_memory_dma_buf.asciidoc
  api/cl_khr_external_memory_dx.asciidoc
  api/cl_khr_external_memory_opaque_fd.asciidoc
  api/cl_khr_external_memory_win32.asciidoc
  api/cl_khr_external_semaphore.asciidoc
  api/cl_khr_external_semaphore_dx_fence.asciidoc
  api/cl_khr_external_semaphore_opaque_fd.asciidoc
  api/cl_khr_external_semaphore_sync_fd.asciidoc
  api/cl_khr_external_semaphore_win32.asciidoc
  api/cl_khr_semaphore.asciidoc
Labels: OpenCL API Spec
